{% extends 'base.html' %}
{% block content %}
 <!-- HERO -->
 <div class="jumbotron text-center hero-background-img">
    <h1 class = "text-info">Welcome to EasyHealth!</h1>
</div>
<div class="row m-5">  

    {% for document in documents %}
            {% if not current_user.is_doctor %}
                 
                    <div class="card mb-4 md-2 m-5 lg-6" style="width: 18rem; ">
                        <div class="card-body">
                            <a href="/patient_document_detail/{{ document.id }}">{{ document.title }}</a>  
                    
                        </div>
                    </div>

            {% endif %}
            
            {% if current_user.is_doctor %}
                <a href="/doctor_document_detail/{{ document.id }}">{{ document.title }}</a> 
            {% endif %}

    {% endfor %}
</div>



{% endblock %}

