{% extends 'base.html' %}
{% block content %}

<h1>New Document</h1>

<form method="POST" action="{{ url_for('patients.new_patient_document') }}">
    {{ form.csrf_token }} 

    <fieldset>
        <legend>Please enter your information:</legend>

        <p><em>Form fields go here!</em></p>
        
        {% for error in form.title.errors %}
            <span class="error">*{{ error }}</span>
        {% endfor %}
        {{ form.title.label }}
        {{ form.title }}

        {% for error in form.drs_created.errors %}
        <span class="error">*{{ error }}</span>
        {% endfor %}

        {{ form.drs_created.label }}
        {{ form.drs_created }}

        {{ form.submit }}

    </fieldset>
</form>


{% endblock %}